
<ul class="nav nav-list nav-pills nav-stacked abn-tree">
  <li ng-repeat="row in tree_rows | filter:{visible:true} track by $index" ng-animate="'abn-tree-animate'" ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'') + ' ' +row.classes.join(' ')" class="abn-tree-row"><a context-menu="" data-target="{{row.branch.menu}}" ng-click="user_clicks_branch(row.branch)" class="position-fixed"><i ng-class="row.tree_icon" ng-click="row.branch.expanded = !row.branch.expanded" class="indented tree-icon"></i><i ng-class="row.branch.icon" class="indented tree-icon"> </i><span ng-hide="row.branch.edit" class="indented tree-label">{{ row.label }}</span>
      <input ng-show="row.branch.edit" focus="{{row.branch.edit}}" ng-blur="row.branch.edit=false" class="intented"/></a></li>
</ul>